body {
  margin-top: 3rem;
  margin: 2rem;
  background-color: #000;
  color: #c27dd1;
  font-family:'Luckiest Guy', serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  min-height: 80vh;
  padding: 40px;
  box-sizing: border-box;
}

.text {
  max-width: 500px;
}

h1 {
  font-size: 2.1 rem;
  line-height: 1.4;
  margin-bottom: 24px;
}

.newsletter {
  color: #bde496;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

.image img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  h1 {
    font-size: 1.4rem;
  }

  .image {
    margin-top: 30px;
  }
}
